body {
    background: #f7f1e3;
}

.intro-biblioteca{
    text-align:center;

    margin-top:80px;
    margin-bottom:40px;
}

.intro-biblioteca h1{
    font-size:3rem;
    color:#4b3621;

    margin-bottom:15px;
}

.intro-biblioteca p{

    max-width:700px;

    margin:0 auto;

    text-align:left;
    font-style: italic;
    line-height:1.5;
    color:#5a4633;
}

.biblioteca{
    display:grid;

    grid-template-columns:repeat(8, 150px);

    justify-content:center;

    column-gap:20px;
    row-gap:35px;

    margin-top:20px;
}

.livro {
    margin: 0;
    text-align: center;
}

.livro img{
    width:150px;
    height:220px;

    border-radius:12px;

    box-shadow:0 4px 10px rgba(0,0,0,0.3);

    transition:transform 0.3s ease;
}

.livro img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}

/* .livro figcaption {
    margin-top: 12px;
    font-weight: bold;
    color: #4b3621;
} */

.livro figcaption{
    font-size: 0.95rem;
}

/* .area-botao{
    display: flex;
    justify-content: center;
    margin-top:40px;
    margin-bottom:30px;
    width:100%;
}

.btn-voltar {
     /* display:inline-block; */
    /* display: inline-block;
    padding: 12px 24px;
    background: #d97706;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.btn-voltar:hover {
    background: #b45309;
    transform: translateY(-2px);
} */
