Reseta  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  min-width: 320px;
  background-color: #f5f5f5;
}

/* .sec_basefoto {
    min-height: auto;
    display: flex;
    align-items: center;  
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 4vw;  
/* }  */

/* .sec_basefoto {
    min-height: 82vh;
    display: flex;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    gap: 4vw;
} */

.sec_basefoto {
    min-height: 80vh;
    display: flex;

    align-items: center;

    /* padding-top: 3vh; */
    padding-left: 8vw;
    padding-right: 8vw;

    gap: 4vw;
}




/* .sec_basefoto {
    min-height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    /* padding-top: 1rem;
    padding-bottom: 1rem; 
    gap: 4vw;
 */

.sec_basefoto img {
    width: 38vw;
    max-height: 500px;
    border: 4px solid gray;
    border-radius: 2rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25);
    object-fit: cover;

}


/* .div_basetextos {
  width: 40vw;
  min-height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
} */

/* .barra-primas{
    text-align:center;
    margin-top:15px;
} */

/* .barra-primas{
    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    margin-top:35px;
    margin-bottom:20px;
} */

.barra-primas{
    display:flex;
    justify-content:center;

    width:45vw;

    margin-left:8vw;
    margin-top:30px;
    margin-bottom:15px;
     /* margin-top:30px;
    margin-bottom:15px;

    transform: translateX(-180px); */
}

.barra-primas label{
    margin-right:10px;
    font-weight:bold;
    color:#4b3621;
}


.div_basetextos {
    width: 40vw;
    min-height: auto;
    padding: 1.5rem;
}




/* .div_basetextos {
    width: 42vw;
    min-height: auto;
    padding: 1rem; */
/* } */


.ul_carat {
  width: fit-content;
  margin: 0 auto 1.5rem auto;
  padding-left: 1.5rem;
  font-size: 1.3rem;
}

.div_basetextos h2 {
  font-family: "Comic Sans MS", cursive;
  color: rgb(51, 51, 51);
  font-size: 3rem; 
  text-align: center;
  margin-bottom: 1.5rem;
}

.ul_carat li {
  color: #4d4d4d;
  font-size: 1.5rem;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

.div_basetextos p {
  text-align: justify;
  line-height: 1.5;
  color: brown;
  font-size: 1.2rem;
  font-family: Calibri, sans-serif;
}

.div_basetextos strong {
  color: #c0392b;
  font-style: italic;
  text-decoration: underline;
}


@media (max-width: 768px) {
  
    .div_basetextos h2 {
        font-size: 2rem;
        margin-bottom: 0.8rem;  
    }
  
    .sec_basefoto {
        padding-top: 2rem;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
        gap: 1rem;
    }

    .sec_basefoto img {
        width: 90vw;
        display: block;
        border: 4px solid red;
    }

    .div_basetextos {
        width: 90vw;
        min-height: auto;
        padding:1rem;
    }

}